body {
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: #C71852;
    color: #fafafa;
}

.quem-somos {
    background-color: #1E305F;
    color: #fafafa;
}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: #1E305F;
    color: #fafafa;
}

.serviços {
    background-color: #fafafa;
}

.bg-footer {
    background-color: black;
    color: blanchedalmond;
    margin-bottom: auto;
}

